#fondoVerde {
  background-image: url("../img/fondoVerde3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header a img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

header nav ul li {
  display: inline-block;
  list-style: none;
}

header nav ul li a {
  color: #1f6917;
  font-family: Montserrat;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  font-size: 110%;
  text-shadow: 3px 3px 3px gray;
}

nav .container a img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

nav .container ul li {
  display: inline-block;
  list-style: none;
}

nav .container ul li a {
  font-size: 110%;
  text-shadow: 3px 3px 3px gray;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Uso de Extend*/
.redsocial,
.redsocial--sobreMi,
.redsocial--body-novedades,
.redsocial--bodyNoIndex {
  background-image: url("../img/fondoVerde3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.redsocial--sobreMi {
  font-family: Montserrat;
  color: #1f6917;
  margin: 0;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-rows: auto 1fr auto auto;
  grid-template-rows: auto 1fr auto auto;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "menu menu"
    "tituloGeneral tituloGeneral"
    "texto main"
    "footer footer";
}

.redsocial--body-novedades {
  margin: 0;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-rows: auto 1fr auto auto;
  grid-template-rows: auto 1fr auto auto;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "menu menu"
    "titulo1 titulo1"
    "texto img"
    "cuadro main"
    "footer footer";
}

.body-zonas {
  background-color: gray;
  min-height: 100vh;
}

main {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: main;
  font-family: Montserrat;
  color: #1f6917;
}

main main .index-h1 {
  margin-left: 23%;
  margin-top: 5%;
  font-size: 300%;
  padding: 0;
  border: 1px;
}

main main .index-h2 {
  margin-left: 23%;
  padding: 0;
  border: 1px;
}

.servicios {
  margin-left: 8%;
  text-align: center;
  font-size: 200%;
}

.servicios:hover {
  -webkit-transition: 3s;
  transition: 3s;
  font-size: 3rem;
}

.servicios-descripcion {
  margin-left: 8%;
}

/*Uso de Each*/
.rubia-sobreMi {
  background-image: url("../img/rubia.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.toalla-sobreMi {
  background-image: url("../img/toalla.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.morena-sobreMi {
  background-image: url("../img/morena.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-sobreMi,
.main-sobreMi {
  padding: 1rem;
}

.section-sobreMi {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tituloGeneral;
  font-family: Montserrat;
  color: #1f6917;
  text-align: center;
}

.section-sobreMi h1 {
  font-size: 250%;
  font-weight: bold;
}

.section-sobreMi h2 {
  margin-left: 10%;
  margin-right: 10%;
}

.h3-sobreMi,
.p-sobreMi {
  margin-left: 5%;
  margin-right: 5%;
}

.div-sobreMi {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: texto;
  background-color: rgba(196, 214, 195, 0.721);
}

.main-sobreMi {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: rgba(196, 214, 195, 0.721);
}

.main-sobreMi img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 8px;
}

/*Estilos a Hoja de Novedades */
.div-novedades,
.section-novedades,
.novedadesImg2,
.main-novedades,
.footer-novedades {
  background-color: rgba(196, 214, 195, 0.721);
  padding: 1rem;
  border-radius: 8px;
}

.titulo-novedades {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo1;
  font-size: 150%;
  text-align: center;
  font-family: Montserrat;
  color: #1f6917;
  left: 410px;
  top: 33px;
}

.div-novedades {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: texto;
  font-family: Montserrat;
  color: #1f6917;
  left: 98px;
  top: 150px;
  padding: 10px;
  border-radius: 8px;
}

.section-novedades {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img;
  border-radius: 8px;
}

.novedadesImg2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cuadro;
  border-radius: 8px;
}

.main-novedades {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: rgba(196, 214, 195, 0.721);
  font-family: Montserrat;
  text-align: justify;
  color: #1f6917;
  left: 846px;
  top: 104px;
  padding: 10px;
  border-radius: 8px;
}

/* Aca le doy estilo a la Hoja Contacto*/
/*Uso de Maps*/
/*Creamos el bucle para usar los valores del mapa*/
.input-circulo {
  background-color: #55acee;
  width: 30%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px black;
  box-shadow: 4px 4px 4px black;
}

.input-cuadrado {
  background-color: #3a5795;
  width: 30%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px black;
  box-shadow: 4px 4px 4px black;
}

.input-boton {
  background-color: #95e742;
  width: 30%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px black;
  box-shadow: 4px 4px 4px black;
}

.signupA {
  position: relative;
  width: 1680px;
  height: 961px;
}

.contacto-h1 {
  position: absolute;
  font-family: Montserrat;
  font-size: 150%;
  text-align: center;
  color: #1f6917;
  width: 913px;
  height: 72px;
  left: 403px;
  top: 117px;
}

.contacto-h2 {
  position: absolute;
  font-family: Montserrat;
  text-align: center;
  color: #1f6917;
  width: 913px;
  height: 72px;
  left: 403px;
  top: 210px;
}

.contact-group {
  position: absolute;
  background-color: #f2f2f2;
  width: 913px;
  height: 538px;
  left: 403px;
  top: 306px;
  border-style: solid;
  border-color: #1f6917;
  border-radius: 8px;
}

.imput-resto {
  width: 95%;
  font-family: Montserrat;
  color: #1f6917;
  text-align: justify;
  padding: 15px 20px;
  margin: 10px 0;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-boton {
  width: 30%;
  background-color: #95e742;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px black;
  box-shadow: 4px 4px 4px black;
}

.input-boton:hover {
  background-color: #45a049;
}

/*Paginas secundarias*/
.main-zonas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery {
  margin: 120px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery:hover {
  border: 1px solid #777;
}

.desc {
  padding: 15px;
  text-align: center;
}

/*Zonas mujer*/
/* Uso de operaciones (por ejemplo) */
.main-zonasMujer {
  margin: 10px;
  border: 10px;
  padding: 10px;
}

.section-zonasMujer {
  margin: 10px;
  border: 10px;
  padding: 10px;
}

/*Uso de Mixin*/
.card-padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: Montserrat;
  color: #1f6917;
  padding: 5px;
}

/*Uso de condicionales*/
.card-hijo {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  margin: 20px;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
}

.card-hijo h3 {
  font-weight: 700px;
  font-size: 1.5rem;
}

.card-hijo:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.img-card {
  height: 100%;
  width: 100%;
}

.object {
  height: 270px;
  width: 100%;
}

.object:hover {
  -webkit-transition: 3s;
  transition: 3s;
  font-size: 3rem;
}

#cards-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#cards-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.card-zonasMujer {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  margin: 20px;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
}

.card-zonasMujer h3 {
  font-weight: 700px;
  font-size: 1.5rem;
}

.card-zonasMujer:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.img-cardzonasMujer {
  height: 100%;
  width: 100%;
}

.p-zonasMujer {
  padding: 0;
  margin: 5px;
  text-align: center;
}

.input-botonzonasMujer {
  width: 100%;
  background-color: #81d032;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px black;
  box-shadow: 4px 4px 4px black;
}

.object-zonasMujer {
  height: 270px;
  width: 100%;
}

.object-zonasMujer:hover {
  -webkit-transition: 3s;
  transition: 3s;
  font-size: 3rem;
}

#cards-onezonasMujer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#cards-twozonasMujer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: rgba(196, 214, 195, 0.721);
}

footer .footer-sm a {
  color: #1f6917;
}

footer .footer-sm a i {
  font-size: 1rem;
}

.footer {
  font-family: Montserrat;
}

.footer-bottom__copyright {
  text-align: center;
  color: #1f6917;
  font-weight: 400;
}

.footer-bottom__copyright a {
  color: #1f6917;
  text-decoration: none;
}

.container footer {
  font-family: Montserrat;
  background-color: rgba(196, 214, 195, 0.721);
}

.footer-sm {
  color: #1f6917;
}

.footer-sm__icons {
  text-align: center;
  padding: 1.5rem 0;
}

.footer-bottom__copyright a:hover {
  color: #72c777;
  text-decoration: underline;
}
/*# sourceMappingURL=estilo.css.map */
