/*Uso de Mixin*/

@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}

.card-zonasMujer {
  @include sizes(auto, auto);
  border: 1px solid black;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  margin: auto;
  overflow: hidden;
  transition: all 300ms;
  position: relative;

  .p-zonasMujer {
    padding: 0;
    margin: 5px;
    text-align: center;
  }

  .input-botonzonasMujer {
    background-color: #81d032;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px black;
  }

  h3 {
    font-weight: 700px;
    font-size: 1.5rem;
  }
}
.card-zonasMujer:hover {
  transform: scale(1.05);
}
