nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
a img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

ul li {
  display: inline-block;
  list-style: none;
}
a {
  color: rgb(31, 105, 23);
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  font-size: 110%;
  text-shadow: 1px 1px 1px gray;
}

.zonas {
  text-decoration: none;
}
